<div class="banner-details">
  <div class="contaier-fluid">
    <div class="row">
      <div class="col-12">
        <div class="banner-details__block">
          <h2 class="banner-details__heading">LOGIN</h2>
          <div class="banner-details__direction">
            <div class="banner-details__home">
              <i class="fas fa-home"></i>
              <span>Home</span>
            </div>
            <i class="fas fa-angle-double-right"></i>
            <h3 class="banner-details__element banner-details__element--now">
              Login
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-6 offset-3">
        <div class="row">
          <div class="col-12">
            <div class="d-flex justify-content-center choices">
              <button class="register">REGISTER</button>
              <button class="login login--selected">LOGIN</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <form action="" class="login__form">
              <div class="login__form-user">
                <h3 class="login__form-user-text">
                  Username or email address<span style="color: red">*</span>
                </h3>
                <input type="text" class="w-100 login__form-user-input" />
              </div>
              <div class="login__form-password">
                <h3 class="login__form-password-text">
                  Password<span style="color: red">*</span>
                </h3>
                <input
                  type="password"
                  class="w-100 login__form-password-input"
                />
              </div>
              <div class="login__form-buttton">
                <div class="remember-block">
                  <input hidden type="checkbox" id="remeber-block__checkbox" />
                  <label
                    for="remeber-block__checkbox"
                    class="remember-block__label"
                    >Remember me</label
                  >
                </div>
                <button class="login__form-btn">LOG IN</button>
                <h3 class="login__form-forgot">Lost your password?</h3>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
